<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.EntradaForoMapper">
    
    <select id="getEntradasForo" resultMap="EntradaForoResult">
        select ef.id, ef.fecha_hora, ef.contenido, cm.id as id, cm.fecha_hora as fecha_hora, cm.contenido as contenido, autor.nombre as nombre, autor.email as email, autorcom.nombre as nombre,  autorcom.email as email
        from ENTRADAS_FOROS as ef 
        INNER JOIN COMENTARIOS as cm ON ef.`id` = cm.`ENTRADAS_FOROS_id` 
        INNER JOIN USUARIOS as autor ON autor.email=ef.USUARIOS_email
        INNER JOIN USUARIOS as autorcom ON autorcom.email=cm.USUARIOS_email
    </select>
    
    <resultMap type='EntradaForo' id='EFResult'>
        <id property='id' column='ef.id'/>
        <result property='propiedad2' column='COLUMNA2'/>
        <result property='propiedad3' column='COLUMNA3'/>  
        <collection property='propiedad4' ofType='DetalleUno'></collection>
        <association property="propiedad5" javaType="DetalleDos"></association>      
    </resultMap>

    <resultMap type='Comentario' id='ComentarioResult'>
        <id property='id' column='id'/>
        <result property='propiedady' column='COLUMNAY'/>
        <result property='propiedadz' column='COLUMNAZ'/> 
        <association property="propiedadw" javaType="DetalleDos"></association>      
    </resultMap>

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='email' column='email'/>
        <result property='propiedads' column='COLUMNAS'/>
        <result property='propiedadt' column='COLUMNAT'/>        
    </resultMap>

         	
</mapper>