<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.UsuarioMapper">
    <select id="getUsuario" resultMap="UsuarioMapper" parameterType="map">
        select email, nombre from usuarios where #{emailusuario}=email  
    </select>
    
    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='email' column='email'/>
        <result property='nombre' column='nombre'/>
    </resultMap>
	                   	
</mapper>